/*create style for every <body> elements*/
body {
	/*Change font (actually, font-family works by anorher way: it's value must have fontName then fontFamily, then it gives priority for this font)*/
	font-family: Helvetica;
	/*This option places background image, and has value url (image path)*/
	background-image: url(../img/background.jpg);
	/*This option changes background color*/
	background-color: #5d6e82;
	/*This option sets repeat of the background*/
	background-repeat: no-repeat;
}

/*create ctyle for every header element*/
header {
	/*display otion changes location of each element in header, it might be 
	"block" - every element places under previous element
	"flex" (in this case) - places each element after previous one, "in-line"*/
	display: flex;
	/*align all texts in header by center*/
	text-align: center;
	/*margin sets indent from previous element or borders of the block, could have a lot values
	(ex. margin: 15px (for all sides margin)
	margin: 15px 15px (first for top and bottom, second for left and right)
	margin: 15px 15px (first for top, second for left and rigth, third for bottom)
	margin: 15px 15px 15px 15px (first-top, second-right, third-bottom, fourth-left))*/
	margin: 20px;
	/*border option creates border around element, first val is width, second val is style, third val is color*/
	border: 3px solid #B2B2B2;
	background-color: #EDEDED;
}

h2 {
	text-align: center;
	border: 2.5px solid #B2B2B2;
}

p {
	/*this option adds indent for first line of the text*/
	text-indent: 25px;
}

/*Start working with classes's styles, they must be declared as ".className"*/

.header_item {
	/*Set width of each header item element with value, which equals 1/3 of the <header>'s width*/
	width: calc(100%/3)
}

.all_content {
	background-color: #EDEDED;
	border: 2.5px solid #B2B2B2;
	/*Set width of the main block, which equals to 75% of width of the webpage*/
	width: 75%;
	/*Browser automatically choose right-left indent for each element of all_content*/
	margin: 0 auto;
	/*height sets height of he bloc, value auto means that all block will precisely cover content of it*/
	height: auto;
	/*box-shadow adds shadow for element*/
	box-shadow: 0 0 15px #5d6e82;
}

.myphoto {
	float: right;
	margin: -10px 45px;
}

.pns {
	float: right;
	margin: 25px 45px;
}

.prof_skills {
	float: right;
	margin: -35px 45px;
}

.edctn_ {
	padding-top: 25px;
	padding-bottom: 25px;
}

.logo {
	float: right;
	margin: 0px 45px;
}

.button_left {
	width: 250px;
	height: 50px;
	float: left;
	margin: 12.5px 100px;
}

.button_right {
	width: 250px;
	height: 50px;
	float: right;
	margin: 12.5px 100px;
}

.certificate {
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-shadow: 0 0 10px #5d6e82;
}

.certificate_block {
	background-color: #EDEDED;
	border: 2.5px solid #B2B2B2;
	width: 75%;
	margin: 0 auto;
	height: auto;
	box-shadow: 0 0 15px #5d6e82;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.videoblock {
	width: 75%;
	margin-left: auto;
}

.fitem {
	padding: 30px;
	text-align: center;
}

#cn, #ac {
	float: center;
}