img#map {
	text-align: center;
	margin: 0px 30px 30px 30px;
	background-color: #444444;
}

div.infoBox {
	width: 940px;
	text-align: center;
	padding: 25px 30px 30px 30px;
	background-color: #444444;
}

div.infoBox h3 {
	margin-bottom: 3px;
	padding-bottom: 4px;
	width: 550px;
	border: 1px solid #999999;
}

div.infoBox p {
	width: 550px;
}

div.infoBox a {
	background-color: #bbbbbb;
}

div.infoBox a:visited {
	background-color: #bbbbbb;
}

div.infoBox a:hover {
	background-color: #ef3e36;
	transition: 0.5s;
}

div.infoBox a:active {
	background-color: #ef3e36;
	transition: 0.5s;
}

