html, body, h1, h2, h3, h4, h5, h6, p, a, div, li, blockquote {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 400;
	color: #ddd;
}

h1, h2, h3, h4, h5, h6, {
	text-transform: capitalize;
	font-weight: 400;
	padding: 40px 0px 5px 0px;
}

h1 {
	font-size: 2em;
	padding: 40px 0px 5px 0px;
}

h2 {
	font-size: 1.6em;
	padding: 40px 0px 5px 0px;
}

h3 {
	font-size: 1.15em;
	padding: 40px 0px 5px 0px;
}

h4 {
	font-size: 1.05em;
}

p {
	padding: 10px 0px 10px 0px;
	font-size: .9em;
	line-height: 1.5em;
	color: #aaaaaa;
}

b, strong {
	font-weight: 700;
	color: #eeeeee;
}

small {
	font-size: .7em;
}

hr {
	border: 1px strong #444444;
}

img {
	margin: 10px 20px 10px 0px;
}

html {
	background-color: #181714;
}

iframe {
	padding-top: 50px;
	border: 0px;
	display: block;
	margin: 0 auto;
}

header {
	height: 175px;
	background-color: #eeeeee;
	border-top: 11px solid #ef3e36;
}

header img {
	margin-top: 21px;
	margin-left: 57px;
}

nav {
	background-color: black;
	border: 1px solid #666666;
}

nav h3 {
	padding: 0px;
}

nav ul {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 563px;
	height: auto;
}

nav ul li {
	display: inline-block;
	float: center;
	font-size: .75em;
	width: 114px;
	padding: 6px 5px 3px 5px;
	background-color: #939598;
	border: 1px solid #555555;
}

nav ul li:hover, li:active {
	background-color: #ef3e36;
	transition: .75s;
}

footer blockquote {
	font-family: Georgia;
	background-color: #444444;
	border-top: 1px solid #aaaaaa;
	font-size: 1.1em;
	color: #cccccc;
	margin-bottom: 20px;
	padding: 15px 0px 15px 0px;
}

footer {
	background-color: #111111;
	text-align: center;
}

footer h4 {
	color: #aaaaaa;
	padding: 15px 0px 7px 0px;
}

footer p {
	color: #888888;
	font-size: .75em;
	line-height: 1.6em;
}

footer a {
	color: #888888;
}

footer a:hover {
	color: #ef3e36;
	transition: .5s;
}

footer small {
	padding: 40px 0px 10px 0px;
	font-size: .7em;
	color: #555555;
}

footer section.addressField {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

footer div.address {
	width: 180px;
	border-right: 2px solid #222222;
	display: inline-table;
	text-align: left;
	margin-left: 5px;
}

nav ul li#current, li#current:hover, li#current:active {
	background-color: #666666;
}

img.floatRightImg {
	float: right;
}

div#wrapper {
	width: 100%;
	background-color: #333;
	position: relative;
}

div#wrapper main {
	width: 1000px;
	padding: 0px 0px 100px 0px;
	margin: 0px auto 0px auto;
}

div#wrapper img.featureImage {
	margin-top: 3px;
}

footer div.address#first {
	margin-left: 0;
}

footer div.address#last {
	border: 0;
}