div#wrapper ul {
	padding: 10px 0px 10px 0px;
	font-size: .9em;
	line-height: 1.5em;
	color: #aaaaaa;
}

div#wrapper ul li {
	padding: 10px 0px 10px 0px;
	font-size: .9em;
	line-height: 1.5em;
	color: #aaaaaa;
}