body {
	background-color: #608E70;
	text-decoration-color: #59B279;
	font-family: Courier New;
	color: #00E54C;
}

div {
	background-color: #437755;
}

input, textarea, select {
	background-color: #444444;
	color: #00E54C;
}

nav {
	background-color: #437755;
	text-align: center;
}

h1 {
	padding: 1% 0%;
}

a.navanchor {
	text-decoration: none;
}

a.navanchor:link {
	font-size: 100%;
	color: #00E54C;
}

a.navanchor:visited {
	font-size: 100%;
	color: #00A637;
}

a.navanchor:hover {
	font-size: 110%;
	color: #00DC49;
}

.navtabm {
	width: 100%;
	border: 1.5px solid #30A557;
}

.navtab {
	width: 33%;
}

.navlow {
	border: 1.5px solid #30A557;
}

.table1 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	margin-top: 10%;
	background-color: #437755;
}

.tg {
	text-align: center;
}

.container1 {
	margin-top: 12.5%;
	margin-bottom: 12.7%;
	width: 33%;
	margin-right: auto;
	margin-left: auto;
}

.container2 {
	margin-top: 3%;
	margin-bottom: 3%;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.container3 {
	margin-top: 3%;
	margin-bottom: 3%;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.container4 {
	background-color: #437755;
	border: 1.5px solid #30A557;
	color: color: #00E54C;
	text-align: center;
	margin-bottom: 18%;
	margin-top: 17%;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.form_sending {
	text-align: center;
	border: 1px solid black;
}

.form_sending2 {
	text-align: left;
	border: 1px solid black;
}

.inplab {
	text-align: right;
	width: 50%;
}

.inp {
	text-align: left;
	width: 45%;
}

#tabcap {
	background-color: #437755;
}

#i1 {
	margin-left: 6%;
	margin-bottom: 3%;
}

#i2 {
	margin-left: 2%;
	margin-bottom: 3%;
}

#i3 {
	margin-bottom: 3%;
}

#i4 {
	margin: 3%;
}

#inpname, #inpphonenum, #inpemail {
	margin-bottom: 1%;
	width: 21%;
}

#inpname:invalid, #inpphonenum:invalid, #inpemail {
	background-color: #444444;
	color: #00E54C;
}

#sc1, #sc2, #sc3, #plc1, #plc2, #plc3, #region {
	margin-bottom: 2%;
}

#aboutteacher {
	margin-bottom: 2%;
	width: 30%;
}


#submit {
	margin-top: 5%;
}

#task5nav {
	text-decoration: none;
}

#task5nav:link {
	font-size: 100%;
	color: #00E54C;
}

#task5nav:visited {
	font-size: 100%;
	color: #00A637;
}

#task5nav:hover {
	font-size: 105%;
	color: #00DC49;
}