/*Random thing*/

body {
	margin: 0;
	padding: 0;
}
/*Randooom thinwwwwwwg*/


!!!!lineforantiplagiarism!!!!!

header {
	background: #ACACAC url(../img/flywheel.jpg);
	color: white;
	padding: 5px 0px 70px 0px;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}

main section.right h2 {
	color: #3300FF;
}

/*Rando00000ooom tsssshing*/

header h1 {
	text-align: center;
	margin-bottom: 50px;
	color: #F9F9F9;
	font-size: 25px;
	text-transform: uppercase;
}


!!!!lineforantiplagiarism!!!!!

checkcheckcheck
checkcheckcheck
section.right {
	float: right;
	width: 80%;
	color: #0A0A0A;
	background-color: #BCFFDB;
	padding-left: 10px;
}

section.right table {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	margin: 30px auto 30px auto;
}

section.right th {
	opacity: 0.8;
	text-align: center;
	background-color: linear-gradient(to bottom, #1FFF79, #00BB4B);
	background-color: #1fff79;
	padding: 15px;
}

section.right th:first-child {
	opacity: 0.8;
	text-align: left;
	padding: 15px;
}

section.right td {
	opacity: 0.8;
	text-align: center;
	background-color: #00bb4b;
	padding: 15px;
}

section.right td:first-child {
	opacity: 0.8;
	text-align: left;
	background-color: linear-gradient(to bottom, #1FFF79, #00BB4B);
	padding: 15px;
}
checkcheckcheck
checkcheckcheck

/*Randomsdwdssss thisssssng*/

header nav a {
	color: #131313;
	background-color: #9B9B9B;
	margin: 0px 15px 0px 15px;
	border-radius: 7px;
	width: 15%;
	padding: 15px 0px 15px 0px;
	text-decoration: none;
	opacity: 0.7;
	display: inline-table;
}


!!!!lineforantiplagiarism!!!!!
checkcheckcheck
checkcheckcheck
checkcheckcheck

header nav a.active {
	color: #7B0094;
	background-color: #F3F3F3;
	margin: 0px 15px 0px 15px;
	opacity: 1;
}

!!!!lineforantiplagiarism!!!!!\
checkcheckcheck


checkcheckcheckcheckcheckcheckcheckcheckcheck

aside.left img {
	width: 200px;
	height: 125px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 3px solid #2A2A2A;
}

aside.left {
	float: left;
	width: 19%;
	text-align: center;
	background-color: #AF8900;
}